# Compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out

# Custom
receipts/

# Django
*.sqlite3
*.log
*.env

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Miscellaneous
frontend/.angular/cache/
.sass-cache/
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
testem.log
frontend/typings

# Node
frontend/node_modules
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]

# System files
.DS_Store
Thumbs.db

# Virtual Environment
.venv/

# Visual Studio Code
.vscode/
.history/*